<%- include("partials/header.ejs") -%>

<h1>Home</h1>
<p> <%= homeStartingContent %> </p>

<%for (let i = 0; i < posts.length; i++) { %>
  <% let contentCut = posts[i].content.slice(0, 100) + "..."; %>
  <% let link = posts[i].title %>
  <% link = link.trim().replace(" ", "-") %>
  <% link = link.toLowerCase() %>
  <h3> <%= posts[i].title %> </h3>
  <p> <%= contentCut %> <a href="/posts/<%= link %>">Read more</a> </p>

<%} %>

<%- include("partials/footer.ejs") -%>
